.order
{
width: auto;
    margin-top: 20px;
margin-bottom: 20px;    
}
.ordercontainer
{
       display: flex;
          justify-content: center;
          align-items: center;
          gap: 5%;
          width: 100%;
          border-radius: 7px;
          box-shadow:
            0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
          padding: 20px;
       
}
.order-left
{
    width: 100%;
}

.order-left .title
{
    margin-bottom: 50px;
}
.title
{    font-family: cursive;
        font-size: 30px;
    font-weight: 600;
    color: tomato;
}
.order-left input
{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border :1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: rgb(251, 41, 41);
}

.order-left .multifield
{
    display: flex;
    gap: 10px;
    width: 100%;
}

.order-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: max(80%,500px);
margin-top: 20px;
  font-family: cursive;
  
}

.order .carttotal button
{
margin-top: 30px;
}

.carttotal h3
{
    font-family: cursive;
}

@media (max-width:480px) {
    .order
    {
        flex-direction: column;
    }
    .order-left
    {
        width: 100%;
    }
    .order-right
    {
        width: 100%;
    }
.ordercontainer
{
    display: flex;
    flex-direction: column;
}
}

button
{
    cursor: pointer;
}